.Restaurant{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 25vw;
    height: 32vw;
    
}
ul{
    text-align: center;
}

.ResData{
    height: 15vw;
    width: 20vw;   
}

.ResData{
    margin: 1vw;
}

.resImage{
    height: 10vw;
    width: 10vw;
}
.resImage{
    border-radius: 2vw;
}

.ResData{
    list-style: none;
    margin: 2vw;
}

